<p-toast></p-toast>
<div class="form-container">
    <form [formGroup]="motivoForm">
        <h1 class="first">{{ getTitulo() }}</h1>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <div class="ui-g-6 ui-g-offset-3">
                    <span class="ui-inputgroup-addon"><i class="material-icons">create</i>Título</span>
                    <input type="text" formControlName="titulo" name="titulo" pInputText>
                    <app-mensagem *ngIf="motivoForm.get('titulo')?.errors?.required
                    && motivoForm.get('titulo')?.touched" mensagem="Título é obrigatório"></app-mensagem>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-6 ui-g-offset-3">
                    <span class="ui-inputgroup-addon"><i class="material-icons">assignment</i>Descrição</span>
                    <input type="text" formControlName="descricao" name="descricao" pInputText>
                    <app-mensagem *ngIf="motivoForm.get('descricao')?.errors?.required
                    && motivoForm.get('descricao')?.touched" mensagem="Descricao é obrigatório"></app-mensagem>
                </div>
            </div>

            <div class="ui-g-12" *ngIf='modoCrud != 3'>
                <div class="ui-g-2 ui-g-offset-3">
                    <button pButton (click)="this.persistir()" label="{{getButton()}}" [disabled]="!this.motivoForm.valid && modoCrud != 2"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton type="button" label="Cancelar" (click)="cancelar()" class="ui-button-danger"></button>
                </div>
            </div>
        </div>
    </form>
</div>