<div class="form-container">
    <form action="">
        <h1 class="first">CADASTRAR MOTIVO</h1>

        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <div class="ui-g-6 ui-g-offset-3">
                    <span class="ui-inputgroup-addon"><i class="material-icons">create</i></span>
                    <input type="text" pInputText placeholder="Título">
                </div>
            </div>
          
            <div class="ui-g-12">
                <div class="ui-g-6 ui-g-offset-3">
                    <span class="ui-inputgroup-addon"><i class="material-icons">assignment</i></span>
                    <input type="text" pInputText placeholder="Descrição">
                </div>
            </div>      

           <div class="ui-g-12">
                <div class="ui-g-2 ui-g-offset-3">
                    <button pButton type="button" label="Criar"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton type="button" label="Cancelar" class="ui-button-danger"></button>
                </div>
            </div>
        </div>
    </form>
</div>
