.ui-table-customers {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.ui-table-globalfilter-container {
    float: right;
    margin-right: 5%;
}

.btn-create {
    margin-bottom: 10px;
    background-color: #fff;
}

.btn-acoes {
    display: flex;
    justify-content: center;
}

i {
    margin-right: .5rem;
}

td {
    text-align: center;
}