<p-table #dt [value]="eventos" dataKey="id" styleClass="ui-table-customers" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} eventos"
    [filterDelay]="0" [globalFilterFields]="['nome','dateEvento','valor', 'motivo.label', 'situacao.label']">
    <ng-template pTemplate="caption">
        LISTA DE EVENTOS
        <div class="ui-table-globalfilter-container">
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar" />
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th colspan="2" pSortableColumn="name">NOME
                <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th colspan="3" pSortableColumn="datedataEvento">DATA DO EVENTO
                <p-sortIcon field="dataEvento"></p-sortIcon>
            </th>
            <th colspan="2" pSortableColumn="valor.label">VALOR DO EVENTO
                <p-sortIcon field="valor"></p-sortIcon>
            </th>
            <th colspan="2" pSortableColumn="motivo">MOTIVO
                <p-sortIcon field="motivo"></p-sortIcon>
            </th>
            <th colspan="2" pSortableColumn="situacao">SITUAÇÃO
                <p-sortIcon field="situacao"></p-sortIcon>
            </th>
            <th colspan="4" pSortableColumn="acoes">AÇÕES
                <p-sortIcon field="acoes"></p-sortIcon>
            </th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-evento>
        <tr class="ui-selectable-row">
            <td colspan="2">
                <span style="vertical-align: middle; margin-left: .5em">{{evento.nome}}</span>
            </td>
            <td colspan="3">
                <span style="vertical-align: middle; margin-left: .5em">{{evento.dataEvento}}</span>
            </td>
            <td colspan="2">
                <span style="vertical-align: middle; margin-left: .5em">{{evento.valor}}</span>
            </td>
            <td colspan="2">
                <span style="vertical-align: middle; margin-left: .5em">{{evento.motivo.label}}</span>
            </td>
            <td colspan="2">
                <span style="vertical-align: middle; margin-left: .5em">{{evento.situacao.label}}</span>
            </td>

            <td colspan="4">
                <div class="btn-acoes">
                    <a>
                        <i id="edit" class="material-icons" (click)="editar(evento.id)">edit</i>
                    </a>
                    <a>
                        <i id="view" class="material-icons" (click)="visualizar(evento.id)">visibility</i>
                    </a>
                    <a>
                        <i id="adiar" class="material-icons" (click)="adiarEvento(evento.id)">event_busy</i>
                    </a>
                    <a>
                        <i id="delete" class="material-icons" (click)="deletar(evento.id)">delete</i>
                    </a>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8" style="text-align:left">.</td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="isDialogVisible">
    <app-evento-cadastro [evento]="eventoBuscado" [modoCrud]="getModoCrud()" *ngIf="isDialogVisible" (onCancel)='isDialogVisible = false' (novaBusca)='this.buscarTodos()'></app-evento-cadastro>
</p-dialog>